@model IEnumerable<QuanLyBDS.Models.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>VIEW LIST OF PROPERTY</h2>

<p>
    <button class="btn btn-outline-warning">@Html.ActionLink("Create New", "Create")</button>
</p>

<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Property ID</th>
                <th>Property Name</th>
                <th>Property Type Name</th>
                <th>Property Status Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Property_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property_Type.Property_Type_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property_Status.Property_Status_Name)
                </td>
                <td>
                    <button class="btn btn-primary mr-3">@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "colorbtn" })</button>
                    <button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "colorbtn" })</button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>